body {
    padding-top: 5rem;
}


.form-group{
    padding-top: 2em;
}

.heading{
    border-bottom-style: solid;
    padding-bottom: 1em;
}

.form-title{
    padding-top: 1em;
}

div>p{
    color: rgb(121, 121, 121);
}

.send-btn{
    padding-top: 2em;
}

